@font-face {
    font-family: 'Prototype';
    src: url('../fonts/Prototype.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chanticleer';
    src: url('../fonts/ChanticleerRomanNF.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chanticleer-Bold';
    src: url('../fonts/ChanticleerRomanNF-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Prototype';
}

.bye {
    color: blue;
    font-family: 'Chanticleer';
}